$bgColor: #666666;
$overlayColor: rgba(0, 0, 0, 0.85);
$bgColorHigh: #888888;
$paddingSmall: 8px;
$paddingMedium: 16px;
$paddingLarge: 32px;

$infoBg: #8888ff;
$info: #000033;

$alertBgTop: #ff8888;
$alertBgBottom: #aa4444;
$alert: #880000;

$textBg: #668866;
$text: #003300;

$messageBg: #ffff66;
$message: #333300;

$noticePanelTopBgColor: #aaaaff;
$noticePanelBottomBgColor: #6666ff;

$noticeTopBgColor: #888888;
$noticeBottomBgColor: #666666;

$iconTopBgColor: #ffffff;
$iconBottomBgColor: #888888;