@import "@styles/globals.scss";

.alertGradient {background: linear-gradient(180deg, $alertBgTop 0%, $alertBgBottom 100%);}
.grayDient {background: linear-gradient(180deg, $noticeTopBgColor 0%, $noticeBottomBgColor 100%);}
.blueGradient {background: linear-gradient(180deg, $noticePanelTopBgColor 0%, $noticePanelBottomBgColor 100%);}
.iconGradient {background: linear-gradient(180deg, $iconTopBgColor 0%, $iconBottomBgColor 100%);}

.notificationPanel {
    @extend .blueGradient;
    width: calc(100% - $paddingSmall * 2);
    padding: $paddingSmall;
    padding-top: 32px;
    max-height: calc(100vh - 97px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $bgColor $bgColorHigh;

    .notice {
        @extend .grayDient;
        position: relative;
        border-radius: $paddingSmall;
        border: solid 1px;
        margin: $paddingSmall 0;
        min-height: 48px;
        .controls {
            text-align: center;
            button {
                margin: 0 $paddingMedium;
            }
        }
        .mime {@extend .iconGradient;}
        &.alert {
            @extend .alertGradient;
            border-color: $alert;
            color: $alert;
            .mime {@extend .alertGradient}
            hr {border-color: $alert;}
            button {color: $alert !important;}
        }
        .images {
            > img {
                width: calc(100% - 16px) !important;
                margin: 8px;
            }
        }
        hr {
            margin-top: -8px;
            margin-bottom: 0;
        }
        button {
            color: $text !important;
        }
        .icon {
            float: left;
            padding: $paddingSmall;
            position: relative;
            .mime {
                position: absolute;
                top: -4px;
                left: -4px;
                font-size: 24px;
                background-color: $bgColorHigh;
                border-radius: $paddingSmall;
                border: solid 1px;
                width: 32px;
                height: 32px;
                text-align: center;
            }
        }
        .header {
            display: inline-block;
            padding: $paddingSmall 0;
            width: calc(100% - 68px);
            input {
                display: inline;
            }
            .dateEdit {
                float: right;
                text-align: right;
            }
        }
    }

    .addBtn {
        text-align: right;
    }
}